<!DOCTYPE html>
<html>
  <head>
    <title>Blog</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "reset", "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <div class="container">
      <header>
        <h1>The Blog</h1>
        <p>Blog article count: <%= Article.public_count %></p>
        <a href="/">Homepage</a>
      </header>
      <main>
        <%= yield %>
      </main>
    </div>
  </body>
</html>